html {
  line-height: 26px;
  color: #404040;
}

header {
  position: relative;
  margin: auto auto 150px auto;
}

h1, h2 {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: lighter;
}

form {
  margin-bottom: 15px;
}

input[type=number] {
  width: 220px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input[type=submit] {
  padding: 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 5%;
  background: #f1f0f2;
}

input[type=submit]:hover {
  background: #d7d7d9;
  transition: 0.4s;
}

footer {
  float: right;
  margin: 50px auto;
  font-size: 15px;
}

#logo {
  position: absolute;
  right: 0;
  top: -50px;
  max-width: 182px;
  max-height: 148px;
}

#search {
  text-align: center;
}

#result {
  display: flex;
  width: 50%;
  margin: auto;
}

#title {
  margin-top: 50px;
  margin-left: 10px;
}

.err {
  color: red;
}

.flex-grid {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 100%;
}

.col {
  flex: 1;
  margin: 10px;
}

.car-pic {
  max-width: 100%;
}

@media only screen and (max-width: 840px) {
  header {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  #logo {
    position: relative;
    left: calc(100% - 182px);
    top: 0;
  }

  #result {
    display: block;
    width: 100%;
  }

  #map {
    margin: auto;
  }

  #title {
    position: relative;
    margin-top: 0px;
  }
  
  .flex-grid {
    display: block;
  }

  .col {
    margin: 5px;
  }
}